<div class="clearfix"></div>
    <div class="main-box container-fluid ">

        <form class="form-horizontal" action="/search" method="post">
            <div class="form-group">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="jobKeywords" placeholder="Job Keywords">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg">SEARCH</button>
                </div>
                 <div class="col-sm-2">

                </div>
            </div>
        </form>

    </div>
